:root {
  --dark-violet: hsl(256, 26%, 20%);
  --greyish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-greyish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display|Karla:400,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: var(--dark-violet);
  font-family: "Karla", sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", sans-serif;
}

h1,
h2 {
  font-size: 4em;
  letter-spacing: 1px;
  line-height: 1;
  position: relative;
  margin: 0;
  padding-top: 75px;
}

h3 {
  font-size: 2.5em;
}

p {
  opacity: 0.8;
  line-height: 1.7;
  width: 90%;
}

.line-top:before {
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 150px;
}

.line-violet::before {
  background-color: var(--dark-violet);
}

.btn {
  padding: 15px 25px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-reverse {
  border-color: var(--dark-violet);
  color: var(--dark-violet);
}

.container {
  padding: 0 20px;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.flex > div {
  flex: 1;
}

nav {
  /* margin: 30px 0; */

  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 0;
}

nav li {
  margin-left: 30px;
}

nav li a {
  color: var(--dark-greyish-violet);
  text-transform: uppercase;
  text-decoration: none;
}

nav .hamburger {
  display: none;
}

/* Header styling */

header {
  background-color: var(--dark-violet);
  color: white;
  padding: 50px;
  position: relative;
  margin-bottom: 200px;
  margin-top: 80px;
}

header * {
  z-index: 1;
}

header:after {
  content: "";
  background-image: url(./images/bg-pattern-intro-right-desktop.svg);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-position: top right;
  background-repeat: no-repeat;
  z-index: 2;
}

header::before {
  content: "";
  background-image: url(./images/bg-pattern-intro-left-desktop.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -50%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.fam {
  max-width: 100%;
  margin-bottom: -200px;
}

.bg-violet {
  background-color: var(--dark-violet);
  padding: 70px;
  background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 50% 100%;
  margin: 100px auto;
}

.bg-violet h2 {
  font-size: 3em;
  color: white;
  padding: 0;
  width: 65%;
}

.tiles {
  margin-top: 65px;
}

footer {
  background-color: var(--very-light-gray);
  padding: 60px 0 30px;
  background-image: url(./images/bg-pattern-footer-desktop.svg);
  background-position: top left;
  background-repeat: no-repeat;
}

footer h4 {
  color: var(--dark-greyish-violet);
  text-transform: uppercase;
}

footer ul {
  padding: 0;
  list-style-type: none;
}

footer ul.flex li:not(:first-child) {
  margin-left: 15px;
}

footer li {
  margin-bottom: 10px;
  text-transform: uppercase;
}

footer li a {
  color: var(--dark-violet);
  text-transform: uppercase;
  text-decoration: none;
}

.border-bottom {
  border-bottom: 2px solid var(--greyish-blue);
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }

  .flex {
    flex-direction: column;
  }

  nav {
    padding: 20px 0;
  }

  nav .flex {
    flex-direction: row;
  }

  nav ul {
    display: none;
  }

  nav ul.show {
    background-color: var(--very-dark-violet);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 70px;
    left: 0;
    margin: 0;
    padding-top: 30px;
    display: flex;
    z-index: 100;
    height: calc(100vh-70px);
    flex-direction: column;
  }

  .btn-reverse {
    border-color: white;
    color: white;
  }

  nav ul li {
    margin: 20px 0;
  }

  nav ul a {
    color: white;
  }

  nav .img-wrapper {
    text-align: left;
  }

  nav .hamburger {
    display: flex;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  nav .hamburger {
    outline: none;
  }

  nav .hamburger .close {
    display: none;
  }

  nav .hamburger.show .open {
    display: none;
  }

  nav .hamburger.show .close {
    display: block;
  }

  header {
    padding-top: 0;
    margin-bottom: 50px;
  }

  header:before,
  header:after {
    display: none;
  }

  .fam {
    display: inline-block;
    margin-left: -70px;
    margin-bottom: -10px;
    max-width: calc(100% + 140px);
  }

  .line-top:before {
    left: 50%;
    transform: translateX(-50%);
  }

  .reverse-mobile {
    flex-direction: column-reverse;
  }

  .bg-violet {
    background-image: url(images/bg-pattern-how-we-work-mobile.svg);
  }

  .bg-violet h2 {
    margin-bottom: 20px;
    width: 100%;
  }

  footer {
    background-image: url(images/bg-pattern-footer-mobile.svg);
    background-size: 100% auto;
    background-position: top center;
  }
  footer .flex div {
    width: 100%;
  }

  footer ul.flex {
    flex-direction: row;
  }
}
