@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");

:root {
  --very-light-greyish-blue: hsl(240, 78%, 98%);
  --light-greyish-blue: hsl(234, 14%, 74%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --greyish-blue: hsl(233, 13%, 49%);
  --dark-greyish-blue: hsl(232, 13%, 33%);
}

* {
  box-sizing: border-box;
}

body {
  color: var(--dark-greyish-blue);
  background-color: var(--very-light-greyish-blue);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  margin: auto;
  max-width: 100%;
  width: 1200px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--greyish-blue);
}

.toggle-container {
  color: var(--light-greyish-blue);
  margin-bottom: 40px;
}

.price-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.price-box p {
  margin: 15px 0;
  font-size: 4em;
}

.price-box ul {
  padding: 0;
  border-top: 1px solid var(--light-greyish-blue);
  list-style-type: none;
}

.price-box ul li {
  border-bottom: 1px solid var(--light-greyish-blue);
  padding: 15px 0;
  font-size: 14px;
}

.price-box button {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: white;
  padding: 15px;
  width: 100%;
  border: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  margin-top: 10px;
  border-radius: 5px;
}

.price-box h4 {
  margin-top: 0;
}

.price-box-premium {
  color: white;
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}

.price-box-premium button {
  background-image: none;
  color: hsl(237, 63%, 64%);
  background-color: #fff;
}

.price-box.price-box-premium ul,
.price-box.price-box-premium li {
  border-color: whitesmoke;
}
